$primary-color: #04acde;
$secondary-color: #48525d;
$third-color: #E2773D;
$primary-color-hover: #023d81;
$secondary-color-hover:  #1f2a36;
$active: #34c84a;
$off-white: rgb(223, 233, 255);
$off-white-thin: rgba(223, 233, 255, 0.25);